<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <p>社員番号<%= employee_id %></p>
    <%- include('../partials/footer'); %>
  </body>
</html>
