<!--room-create_page.ejs-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/index_header'); %> <%-
    include('../partials/create_room'); %> <%- include('../partials/footer'); %>
  </body>
</html>
