<!-- room_add_user.ejs -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/index_header'); %> <%-
    include('../partials/room_add_user'); %> <%- include('../partials/footer');
    %>
  </body>
</html>
