<!--users_update.ejs-->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/index_header'); %> <%-
    include('../partials/update_user'); %> <%- include('../partials/footer'); %>
  </body>
</html>
