<!--users_delete.ejs-->
<div class="container">
  <form action="/index/read_users/delete_user/<%= userId %>" method="post">
    <label>本当に削除しますか？</label>
    <button>はい</button>
  </form>
  <form action="/index/read_users" method="get">
    <button>いいえ</button>
  </form>
</div>
